.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  @media screen and (min-width: 500px) {
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;
    width: auto;
  }

  &__link {
    color: #8f5c2c;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    @media screen and (min-width: 500px) {
      color: #fff;
      height: 100%;
      width: auto;
      padding: 16px 10px;
      border-bottom: 4px solid transparent;
    }

    &:hover,
    &:active,
    &--active {
      color: #40a4c8;
      @media screen and (min-width: 500px) {
        background-color: #8f5c2c;
        border-color: #40a4c8;
        color: #fff;
      }
    }
  }
}
