.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  &__label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
  }

  &__element {
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    font: inherit;
    padding: 6px 10px;
    box-sizing: border-box;

    &:focus {
      outline: none;
      background-color: #ccc;
    }
  }

  &__invalid {
    border: 1px solid red;
    background-color: #fda49a;
  }
}
